<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <link href={% static "dashboard/assets/img/brand/favicon.ico" %} rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>
  <!-- Argon CSS -->
  <link href={% static "dashboard/assets/css/style.css" %} rel="stylesheet">
  <!-- Plotly JS -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>
<body class="bg-info">
  <!-- side navigation bar -->
  {% include 'dashboard/includes/side_navbar.html' %}

  <!-- Content container -->
  <div class="main-content py-1">
      {% block content %}{% endblock %}
  </div>

  <!-- Core -->
  <script src={% static "dashboard/assets/js/plugins/jquery/dist/jquery.min.js" %}></script>
  <script src={% static "dashboard/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>

  <!--   Optional JS   -->
  <script src={% static "dashboard/assets/js/plugins/chart.js/dist/Chart.min.js" %}></script>
  <script src={% static "dashboard/assets/js/plugins/chart.js/dist/Chart.extension.js" %}></script>
  <!-- Argon JS -->
  <script src={% static "dashboard/assets/js/argon-dashboard.min.js" %}></script>

  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  {% endblock javascripts %}

</body>

</html>
