{% extends 'dashboard/base.html' %}

<!-- Page title -->
{% block title %}
covid dashboard
{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">
  <div class="card shadow fade-in-bottom">
    <div class="card-body">
      <div class="container">
        {{ example_plot|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('g.layer>rect').attr('style','fill: rgba(255, 0, 0, 255) !important');
    console.log('Hello there')
  });
</script>
{% endblock %}
