{% extends 'dashboard/base.html' %}

<!-- Page title -->
{% block title %}
covid dashboard
{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">

  <!-- responsive row of cards with last report data -->
  <div class="row">
    <!-- Active Cases Card -->
    <div class="col-lg-3 col-md-6 py-2">
      <div class="card shadow">
        <div class="card-body">
          Activos
        </div>
      </div>
    </div>
    <!-- Deaths Card -->
    <div class="col-lg-3 col-md-6 py-2">
      <div class="card shadow">
        <div class="card-body">
          Deaths
        </div>
      </div>
    </div>
    <!-- Recovereds Card -->
    <div class="col-lg-3 col-md-6 py-2">
      <div class="card shadow">
        <div class="card-body">
          Recuperados
        </div>
      </div>
    </div>
    <!-- Total Confirmed Cases Card -->
    <div class="col-lg-3 col-md-6 py-2">
      <div class="card shadow">
        <div class="card-body">
          Confirmados
        </div>
      </div>
    </div>
  </div>
  <!-- Interactive map with the data -->
  <div class="card shadow fade-in-bottom my-2 px-0 py-0">
    <div class="card-body px-0 py-0">
      <div class="container mx-0 my-0">
        {{ example_plot|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('.js-plotly-plot .plotly .cursor').css('cursor','pointer');
    console.log('Hello there');
  });
</script> -->
{% endblock %}
