{% extends 'dashboard/base.html' %}
{% load dashboard_filters %}
<!-- Page title -->
{% block title %}
covid dashboard
{% endblock %}

<!-- Content -->
{% block content %}
<div class="container-fluid">

  <div class="alert   shadow" role="alert">
    <i class="fas fa-info-circle fa-lg"></i> Datos actualizados el {{ statusReport.last_date|date:'j \d\e F' }}
  </div>
  <!-- responsive row of cards with last report data -->
  <div class="row">
    <!-- Active Cases Card -->
    <div class="col-lg-4 col-md-4 py-2">
      <div class="card shadow">
        <div class="card-body ">
          <h2 class="">Casos Activos: {{ statusReport.last_active|floatformat }}</h2>
          <h3 class=""><small>{{ statusReport.variation_actives|variation_since_last }} desde el {{ statusReport.prev_date|date:'j \d\e F' }} </small></h3>
        </div>
      </div>
    </div>
    <!-- Deaths Card -->
    <div class="col-lg-4 col-md-4 py-2">
      <div class="card shadow ">
        <div class="card-body ">
          <h2 class="">Muertes: {{ statusReport.last_deaths|floatformat }}</h2>
          <h3 class=""><small>{{ statusReport.variation_deaths|variation_since_last }} desde el {{ statusReport.prev_date|date:'j \d\e F' }} </small></h3>
        </div>
      </div>
    </div>
    <!-- Recovereds Card -->
    <div class="col-lg-4 col-md-4 py-2">
      <div class="card shadow ">
        <div class="card-body ">
          <h2 class="">Recuperados: {{ statusReport.last_recovered|floatformat }}</h2>
          <h3 class=""><small>{{ statusReport.variation_recovered|variation_since_last }} desde el {{ statusReport.prev_date|date:'j \d\e F' }} </small></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Total Confirmed Cases Card -->
  <div class="card shadow my-2 ">
    <div class="card-body ">
      <h2 class="">Casos Confirmados totales: {{ statusReport.last_cases|floatformat }}</h2>
      <h3 class=""><small>{{ statusReport.variation_cases|variation_since_last }} desde el {{ statusReport.prev_date|date:'j \d\e F' }} </small></h3>
    </div>
  </div>

  <div class="card shadow fade-in-bottom my-2">
    <div class="card-body plotly worldmap">
      <div class="chart">
        {{ total_cases_map|safe }}
      </div>
    </div>
    <div style="position: absolute; padding:1.25rem 1.5rem;">
      <h2 class="mb-0 text-mutted">Mapa</h2>
      <h4 class="text-uppercase text-light ls-1 mb-1">Casos totales acumulados</h4>
    </div>
  </div>

</div>
{% endblock %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock %}
